import(wmtsa)
import(cluster)
import(car)

import(hexbin)
import(lattice)
import(latticeExtra)
import(grid)
import(wmtsa)

importFrom(mgcv, in.out)##choosePoints()

import(methods)

export(
       no0,
       wavVarPD,
       nZeroCross,
       prony,
       analysis,
       xyplot.prony,
       compProny,
       label.densityplot,
       choosePoints,
       hankel,
       df2PD#,
       )

exportMethods(filterPD,
              isFiltered,
              transformPD,
              isTransformed,
              claraPD,
              xyplot,
              histogram,
              densityplot,
              hexbinplot,
              splom,
              identifyPD,
              as.data.frame,
              PD2Long,
              show
             )

exportClasses(PD, PDCluster)
  
